<h2>Base</h2>

<h1>h1 Title</h1>
<h2>h2 Subtitle</h2>
<h3>h3 Subtitle</h3>
<h4>h4 Subtitle</h4>
<h5>h5 Subtitle</h5>
<h6>h6 Subtitle</h6>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nostrum porro illo facilis,
  distinctio blanditiis officiis architecto repellat nemo, iure pariatur nobis suscipit omnis
  laudantium dolore excepturi optio. Ad animi temporibus tempore ea. Maiores id ea nobis nesciunt,
  aliquam pariatur adipisci animi eum expedita optio quo laudantium ratione eaque suscipit
  temporibus cupiditate magni iusto. Nesciunt nostrum ad deleniti modi error.
</p>

<h3>Links</h3>

<a class="app-a">Link 1</a>
<a class="app-a">Link 2</a>
<a class="app-a">Link 3</a>

<h3>Button</h3>

<button class="app-button">Button</button>

<h3>Code</h3>

<code>const parameter = 52;</code>

<h3>Input</h3>

<input type="text" class="app-input" />

<h2>Mixins</h2>

<div class="shadow">Shadow mixin</div>

<h3>Card</h3>

<div class="card">Card mixin</div>
